CompileFlags:
  Add:
    - -xc
    - -std=c11
    - -Wall
    - -Wextra
    - -pedantic
    - -Werror
    - -Wdouble-promotion
    - -Wconversion
    - -Wno-sign-conversion
    - -IBearSSL/inc
    - -I/home/ben/code/c/bmm
Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  ClangTidy:
    Add:
      - bugprone-*
      - performance-*
      - modernize-*
    Remove:
      - modernize-use-trailing-return-type

Hover:
  ShowAKA: Yes

Completion:
  AllScopes: Yes

Index:
  Background: Build
